* {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */

}
body {
	overflow-y:scroll;
	overflow-x:hidden;}
#tutorial, #tutorial2, #tutorial3{
background:url('../images/startbg.jpg') no-repeat !important;
background-size:cover;
}
/* Own Code here: */
.head_1{
	font-size:2.6pc !important;
	color:white;
}

.head_main{
	font-size:3.6pc !important;
	color:white;
	font-weight:bold;
	margin-top:-20px;
}
.head_content{
	font-size:1pc;
	color:white;
	margin-top:-30px;
	
}
.button_start{
	}

div#list_header,
div#list_1,
div#list_2,
div#list_3 {
display:inline !important;
font-size:15pc !important;
}

.productTitle{
	display:inline-block;
}

.houdbaarheid, .voorraad, .titel{
	display:inline-block;
	padding-left:0.3em;
	padding-right:0.3em;
}
.clearfix{
clear:both;}
div .titel{
	width:100%;
}

.inline > a {
display: inline-block;
width: 30%;
margin-left: 1%;
margin-right: 1%;
}

.houdbaarheid .top, .voorraad .top, .titel .top{
	display:inline-block;
	margin-right:5px;
}
.houdbaarheid .bottom, .voorraad .bottom, .titel .bottom{
	display:inline-block;
	margin-left:5px;
}

.addonebutton, .removeonebutton{
	display:inline-block;
	width:49%;
}
.addonebutton{
float:right;}

.voorraad .getal{
font-size:1.5em;
font-weight:bolder;
}
li {
background-color:white !important;
}

.buttonspan{
display:inline-block;
float:right;
width:100%;
}

div .content{
overflow:scroll;
padding-bottom:50px;}

@media