* {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */

}
body {
	overflow-y:hidden;
	overflow-x:hidden;}
#tutorial, #tutorial2, #tutorial3{
background:url('../images/startbg.jpg') no-repeat !important;
background-size:cover;
}
/* Own Code here: */
.head_1{
	font-size:2.6pc !important;
	color:white;
}

.head_main{
	font-size:3.6pc !important;
	color:white;
	font-weight:bold;
	margin-top:-20px;
}
.head_content{
	font-size:1pc;
	color:white;
	margin-top:-30px;
	
}
.button_start{
	}

.list_header,
.list_1,
.list_2,
.list_3 {
display:inline;
font-size:15pc;
}